/*Preload*/
.preload{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(38, 61%, 73%);
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: 500ms ease;
}

.preload > * { transition: 250 ease;}

.preload.loaded > * {opacity: 0;}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 100%, 1);
  border-block-start-color: hsla(0, 3%, 7%, 1);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {transform: rotate(0);}
  100% {transform: rotate(1turn);}
}

.preload .text {
  background-image: linear-gradient(90deg, transparent 0% 16.66%, hsla(0, 3%, 7%, 1) 33.33% 50%, transparent 66.66% 75%);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: weight bold;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px hsla(180, 2%,8%, 1);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {background-position: 100%;}
  100% {background-position: 0%;}
}

/*header*/
.bg-cover {
  background-size: cover !important;
}

/*Menu*/
.menu-item {
  margin-top: 5px;
}

.menu-img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.menu-h2 {
  text-align: center;
}

.menu-p {
  text-align: center;
}

/*Footer*/
footer {
  background-color: gray;
  padding: 20px;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-media-links {
  display: inline-block;
}
.social-media-links a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.business-hours {
  color: #333;
  text-align: center;
}